src/conf/xml-resources/web-service-references/Paiement/wsdl/localhost_8082/SystemVisa/Paiement.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services.pk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.pk/">

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="payerCommande" type="tns:payerCommande" />

<xs:element name="payerCommandeResponse" type="tns:payerCommandeResponse" />

<xs:complexType name="payerCommande">
<xs:sequence>
<xs:element name="nocart" type="xs:long" />
<xs:element name="datevalid" type="xs:string" minOccurs="0" />
<xs:element name="crypto" type="xs:int" />
<xs:element name="mnt" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="payerCommandeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>